@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap');
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }
body { margin: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
a { background-color: transparent; }
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: .67em 0; }
mark { color: #000; background: #ff0; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -.5em; }
sub { bottom: -.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { font: inherit; /* 2 */ margin: 0; /* 3 */ color: inherit; /* 1 */ }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type='button'], input[type='reset'], input[type='submit'] { cursor: pointer; /* 3 */ -webkit-appearance: button; /* 2 */ }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }
input { line-height: normal; }
input[type='checkbox'], input[type='radio'] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button { height: auto; }
input[type='search'] { box-sizing: content-box; /* 2 */ -webkit-appearance: textfield; /* 1 */ }
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { margin: 0 2px; /* padding: .35em .625em .75em; */ border: 1px solid #c0c0c0; }
legend { padding: 0; /* 2 */ border: 0; /* 1 */ }
textarea { overflow: auto; }
optgroup { font-weight: 700; }
table { border-spacing: 0; border-collapse: collapse; }
td, th { padding: 0; }

* { font-style: normal; outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; word-break: break-all !important; }

html, body { width: 100%; height: 100%; }

body { font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 24px; letter-spacing: -0.03em; color: #000; -webkit-font-smoothing: antialiased; }

a { text-decoration: none; color: #666; }

br { font-family: 'Noto Sans KR', sans-serif; }

address, em { font-style: normal; }

hr { display: none; }

form { margin: 0; }

/* table */
table { width: 100%; table-layout: fixed; border-collapse: separate; }

th, td { word-break: break-all; background-clip: padding-box; }

th.posr, td.posr { position: relative; }

caption { display: inline-block; overflow: hidden; width: 0px; height: 0; text-indent: -9999px; }

fieldset { border: none; }

/*  form */
input[type=radio], input[type=checkbox] { padding: 0; }

input[type=text]:-ms-clear, input[type=password]:-ms-clear, input[type=number]:-ms-clear { display: none; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { margin: 0; -webkit-appearance: none; }

button { font-weight: normal; width: auto; padding: 0; border: 0; background: none; }

textarea { resize: none; }

a, img, input, button, select, textarea { vertical-align: middle; }

a, button { display: inline-block; text-align: center; }

a:focus, a:active, a:hover, button:focus, button:active, button:hover { text-decoration: none; }

ul, ol, dl { margin: 0; padding: 0; }

li, dl { margin: 0; padding: 0; list-style: none; }

p { margin: 0; }

strong, b { font-weight: normal; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0; }

.wa { width: auto !important; }




header { width: 100%; position: fixed; top: 0; left: 0; height: auto; background-color: #fff; border-bottom: 1px solid #ececec; z-index: 6000; }

header h1 { position: absolute; top: 50%; left: 40px; margin-top: -16px; }

header h1 a { display: block; }

header h1 a img { display: block; }

header .util { font-size: 0; position: absolute; top: 43px; right: 30px; }

header .util a { font-size: 14px; color: #000; position: relative; height: 22px; line-height: 22px; vertical-align: middle; }

header .util a img { display: block; }

header .util a + a { margin-left: 10px; padding-left: 11px; }

header .util a + a:before { display: block; content: ''; width: 1px; height: 8px; background-color: #e0e0e0; position: absolute; top: 50%; left: 0; margin-top: -4px; }

header .util button { vertical-align: middle; display: inline-block; overflow: hidden; text-indent: -9999px; width: 28px; height: 22px; background: url("/images/common/btn-menu-all.png") 0 50% no-repeat; margin-left: 30px; }



header .mobile { display: none; }

header .mobile .head { overflow: hidden; background-color: #fff; padding: 20px 15px 20px 25px; border-bottom: 1px solid #ececec; }

header .mobile .head h1, header .mobile .head > button { display: block; }

header .mobile .head h1 img, header .mobile .head > button img { display: block; width: 100%; }

header .mobile .head h1 { float: left; width: 110px; position: static; margin: 0; }

header .mobile .head > button { float: right; width: 39px; }

@media (max-width: 1023px) { header { height: auto; }
  header .pc { display: none; }
  header .mobile { display: block; } }



.m-dim { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); display: none; }

.m-dim.active { display: block; }

#mobile-gnb { position: fixed; top: 0; right: -100%; width: 92%; max-width: 375px; height: 100%; overflow: auto; background-color: #f5f5f5; transition: all .2s ease-in-out; opacity: 0; }

#mobile-gnb.active { right: 0; opacity: 1; }

#mobile-gnb .top { background-color: #a3d60d; height: 105px; padding: 20px 15px 0 25px; margin-bottom: -30px; }

#mobile-gnb .top .logo { width: 110px; float: left; }

#mobile-gnb .top .logo img { display: block; width: 100%; }

#mobile-gnb .top .search { width: 15px; position: absolute; top: 30px; right: 60px; }

#mobile-gnb .top .search img { width: 100%; vertical-align: top; }

#mobile-gnb .top .mo-gnb-close { display: block; float: right; width: 39px; height: 35px; background: url("/public/images/mobile/common/btn-close-m.png") 0 0 no-repeat; background-size: 100%; }

#mobile-gnb .body { padding: 0 15px 15px; }

#mobile-gnb .body .mobile-util { border: 1px solid #eaeaea; border-bottom-color: #cbcbcb; height: 60px; font-size: 0; text-align: center; background-color: #fff; margin-bottom: 10px; }

#mobile-gnb .body .mobile-util a { display: inline-block; font-size: 15px; height: 58px; line-height: 58px; position: relative; font-weight: 500;}

#mobile-gnb .body .mobile-util a + a { padding-left: 16px; margin-left: 15px; }

#mobile-gnb .body .mobile-util a + a:before { display: block; content: ''; width: 1px; height: 9px; background-color: #eaeaea; position: absolute; top: 50%; left: 0; margin-top: -4px; }

#mobile-gnb .body .nav { border-bottom: 1px solid #cbcbcb; margin-bottom: 50px; }

#mobile-gnb .body .nav > li { display:block; width:100%; box-sizing:border-box;background-color: #fff; position: relative; border: 1px solid #eaeaea; border-bottom: none; overflow: hidden; }

#mobile-gnb .body .nav > li.active { background-color: #fafafa; }

#mobile-gnb .body .nav > li.active > button:before { background-position: -35px 0; }

#mobile-gnb .body .nav > li.active ul { max-height: 500px; padding-bottom: 12px; }

#mobile-gnb .body .nav > li > button { font-size: 15px; font-weight: 500; height: 55px; line-height: 55px; padding-left: 20px; width: 100%; text-align: left; }

#mobile-gnb .body .nav > li > button:before { display: block; content: ''; width: 35px; height: 35px; background: url("/public/images/mobile/common/spr-common-m.png") 0 0 no-repeat; background-size: 250px; position: absolute; top: 10px; right: 8px; }

#mobile-gnb .body .nav > li ul { max-height: 0px; transition: all .3s ease-in-out; padding-bottom: 0; }

#mobile-gnb .body .nav > li ul li a { display: block; width: 100%; padding-left: 35px; font-size: 13px; height: 40px; line-height: 40px; text-align: left; }

#mobile-gnb .body .nav > li ul li a.active { background-color: #f0f0f0; }

#mobile-gnb .body .link-wrap { font-size: 0; border-left: 1px solid #eaeaea; border-bottom: 1px solid #cbcbcb; margin-bottom: 10px; }

#mobile-gnb .body .link-wrap a { display: inline-block; width: 50%; font-size: 13px; font-weight: 500; height: 50px; line-height: 49px; border-right: 1px solid #eaeaea; border-top: 1px solid #eaeaea; background-color: #fff; padding-left: 20px; position: relative; text-align: left; color: #121f40;}

#mobile-gnb .body .link-wrap a:before { display: block; content: ''; width: 18px; height: 18px; background: url("/public/images/mobile/common/spr-common-m.png") -70px 0 no-repeat; background-size: 250px; position: absolute; top: 15px; right: 15px; }

#mobile-gnb .body .link-switzen { border: 1px solid #eaeaea; border-bottom-color: #cbcbcb; height: 48px; line-height: 48px; background-color: #fff; }

#mobile-gnb .body .link-switzen a { display: block; height: 100%; }

#mobile-gnb .body .link-switzen img { display: block; height: 100%; margin: 0 auto; }




/* FOOTER */
#footer{width:100%; transition: all 1s; height: auto; position: relative; z-index: 500;}
#footer .policy{background-color: #31343c;}
/* #footer .policy.on{position: fixed; left: 0; bottom: 0; width: 100%; z-index: 11;} */
#footer .policy ul{}
#footer .policy ul:after{content: ""; display: block; clear: both;}
#footer .policy li{float: left; width: 33.3333%; position: relative;}
#footer .policy li > div{}
#footer .policy li > div > a{font-size: 3.125vw; color: #fff; display: block; position:relative; padding:4.688vw 0; text-align: center;}
#footer .policy li:after{content: ""; display: block; width:1vw; height:1vw; background-color: #494949; left: 0; top: 6.7vw; position: absolute;}
#footer .policy li:first-child:after{display: none;}
/* #footer .policy li:first-child:before{content: ""; display: block; width:1px; height:0.867em; background-color: #494949; left: 0; top: 1.600em; position: absolute;} */
#footer .information{background-color: #2a2d34; padding:8.464vw 0 6.510vw 0; border-bottom: 0.260vw solid #393939; padding-left: 20px; padding-right: 20px;}
#footer .information:after{content: ""; display: block; clear: both;}
#footer .information .logo{position: relative; margin-bottom: 7.246vw ;}
#footer .information .logo > a{display: inline-block;}
#footer .information .logo > a > img{width: 36.232vw; opacity: 0.9;}
#footer .information .info{position: relative;}
#footer .information .info .tit{border-bottom: 1px solid #3f4148; }
#footer .information .info .info_list{margin-top: 5.208vw;}
#footer .information .info .info_list:first-child{margin-top: 0;}
#footer .information .info .info_list ul{}
#footer .information .info .info_list ul:after{content: ""; display: block; clear: both;}
#footer .information .info .info_list li{font-size: 3.125vw; color: #848484; font-weight: 400; line-height: 4.948vw; position: relative; padding-right: 2.604vw; margin-right:2.604vw; float: left;}
#footer .information .info .info_list li:before{content: ""; display: block; width: 1px; height: 2.865vw; background-color: #848484; position: absolute;right: 0; top: 1.172vw;}
#footer .information .info .info_list li.none_m{padding-right:0; margin-right:0;}
#footer .information .info .info_list li.none_m:before{display: none;}
#footer .information .info .info_list li:first-child{width: 100%; padding-right: 0; margin-right: 0;}
#footer .information .info .info_list li:first-child:before{display: none;}
#footer .information .info .info_list li:last-child{margin-right: 0; padding-right: 0;}
#footer .information .info .info_list li:last-child:before{display: none;}
#footer .information .info .copyright{font-size: 3.385vw; color: #444444; font-weight: 500; line-height: 4.948vw; margin-top: 5.208vw;}
#footer .information .info .desc{font-size: 3.125vw; color: #848484; font-weight: 400; line-height: 4.948vw; margin-top: 5.208vw;}
#footer .information .logo .link{position: absolute; top: -0.651vw; right: 0;}
#footer .information .logo .link ul{margin-left: -0.400em;}
#footer .information .logo .link ul:after{content: ""; display: block; clear: both;}
#footer .information .logo .link li{float: left;}
#footer .information .logo .link li > div{margin-left: 0.400em;}
#footer .information .logo .link li a{}
#footer .information .logo .link li a img{width:7.488vw;}


/* 2020-02-18*/
#headBanner {position: relative; background-color: #fff;}
#headBanner li a {position:relative;display:block;height:100px;}
#headBanner li img {display:none;width:100%;vertical-align:top;}
#headBanner .swiper-slide-duplicate-active {z-index:10;}
#headBanner .slideControl {position:absolute;bottom:10px;right:20px;z-index:20;}
#headBanner .slideControl .control {margin-right:20px;}
#headBanner .slideControl .slidePage a {display:inline-block;width:6px;height:6px;margin:0 2px;background:#bbb;border-radius:6px;font-size:0;vertical-align:middle;}
#headBanner .slideControl .slidePage [class*="active"] {width:20px;}
#headBanner .slideControl .btn button {font:0/0 a;vertical-align:middle;}
#headBanner .slideControl .btn .btnStop {position:relative;width:6px;height:7px;}
#headBanner .slideControl .btn .btnStop:after,
#headBanner .slideControl .btn .btnStop:before {content:"";position:absolute;top:0;bottom:0;width:2px;background:#bbb;}
#headBanner .slideControl .btn .btnStop:after {left: 0;}
#headBanner .slideControl .btn .btnStop:before {right: 0;}
#headBanner .slideControl .btn .btnStart {display:none;font:0/0 a;border:4px solid transparent;border-left:4px solid #bbb;border-right:0;}
#headBanner .slideControl .btn.stop .btnStop {display:none;}
#headBanner .slideControl .btn.stop .btnStart {display:inline-block;}
#headBanner .slideControl label {color:#bbb;font-size:14px;}
#headBanner .slideControl label input {position:absolute;visibility:hidden;}
#headBanner .slideControl label span:before {content:"";display:inline-block;width:14px;height:14px;margin-right:5px;background:#fff url('/public/images/input_chk.png') no-repeat -9999px;border:1px solid #ddd;vertical-align:-2px;}
#headBanner .slideControl label input:checked ~ span:before {background-position:50%;}
#headBanner .slideControl .btnClose {width:13px;height:13px;margin-left:10px;background:url('/public/images/btn_banner_close.png') no-repeat;font:0/0 a;}

@media all and (max-width:767px) {
	#headBanner li a {height:auto;}
	#headBanner li img {display:block;}
	#headBanner .slideControl {position:relative;bottom:auto;right:auto;padding:5px 15px;background:#000;text-align:right;}
	#headBanner .slideControl label {font-size: 12px;}
	#headBanner .slideControl .control {position:absolute;top:2px;left:15px;}
	#headBanner .slideControl .slidePage {}
	#headBanner .slideControl .slidePage a {width:12px;height:12px;margin:5px 2px;}
	#headBanner .slideControl .slidePage [class*="active"] {width:25px;}
	#headBanner .slideControl .btn {padding:0;vertical-align:middle;}
	#headBanner .slideControl .btn .btnStop {width:12px;height:12px;margin-top: -5px;}
	#headBanner .slideControl .btn .btnStop:before,
	#headBanner .slideControl .btn .btnStop:after {width:4px;}
	#headBanner .slideControl .btn .btnStart {border-width:6px;}
	#headBanner .slideControl label span:before {width:14px;height:14px;margin-right:5px;}
	#headBanner .slideControl .btnClose {width:14px;height:14px;background-size:cover;vertical-align:middle;}
}

